<div fxLayout="row wrap" class="products-wrapper">
    <div  *ngFor="let peoples of peopleList" fxFlex="100" class="col">
        <mat-card class="product-item">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                    <a [routerLink]="['/peopledetails']" class="title"></a>
                        {{peoples.name}}
                    </a>
                    <p class="py-1 text-muted lh">{{peoples.birth_year}}</p>
                    <p class="py-1 text-muted lh">{{peoples.eye_color}}</p>                        
                </div>
            </div>
        </mat-card>
    </div>
</div>